<div class="jumbotron">
    <h1>D3 Demos</h1>
    <p class="lead">D3 is a JavaScript library that helps you create beautiful data visualizations.</p>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Data Loading</h2>
        <p>This is a basic D3 example that shows how you can load data with D3.</p>
        <h4>Skills:</h4>
        <ul>
            <li>Basic D3 setup</li>
            <li>Loading Data</li>
        </ul>
        <p><a class="btn btn-default" href="@Url.Action("Crawl", "TagDemos")">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Scales and Axes</h2>
        <p>This is a basic D3 example that illustrates the differences between various scales.</p>
        <h4>Skills:</h4>
        <ul>
            <li>Scales</li>
            <li>Axes</li>
        </ul>
        <p><a class="btn btn-default" href="@Url.Action("ScalesAndAxes", "Home")">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Baisc Bar Chart</h2>
        <p>Takes the data from the Data Loading example and creates a simple bar chart.</p>
        <h4>Skills:</h4>
        <ul>
            <li>Creating SVG Elements</li>
            <li>Axes</li>
            <li>Scales</li>
        </ul>
        <p><a class="btn btn-default" href="@Url.Action("Walk", "TagDemos")">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-6">
        <h2>Fly</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>
</div>
