@{
    ViewBag.Title = "Scales and Axes";
}
<style type="text/css">
    svg g.axis {
        font-size: .75em;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    svg g.axis path,
    svg g.axis line {
        fill: none;
        stroke: black;
        shape-rendering: crispEdges;
    }
</style>


<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-8">
        <p>This demo shows a variety of scales and axes.</p>
    </div>
</div>
<div id="chartContainer">
</div>
<div class="row">
    <div id="chartContainer">
    </div>
</div>

@Scripts.Render("~/bundles/d3")
@section Scripts{
    <script type="text/javascript">
        (function () {
            var data = [0, 5, 120, 150, 20, 40, 80, 100, 150, 200];
            var dates = [new Date('1/1/2014'), new Date('1/15/2014'), new Date('2/1/2014'), new Date('2/15/2014'), new Date('3/1/2014')];

            // Overall dimensions of the SVG
            var height = 500;
            var width = 900;

            
            // Linear Scale
            var linearScale = d3.scale
                           .linear()
                           .range([0, height-10])
                           .domain([0, d3.max(data)])
                           .nice();

            // Power Scale
            var powScale = d3.scale
                           .pow().exponent(.5)
                           .range([0, height-10])
                           .domain([0, d3.max(data)]);

            // Time Scale
            var timeScale = d3.time.scale()
                            .domain([d3.min(dates), d3.max(dates)])
                            .range([height - 10, 0]);
            
            //Linear Axis
            var linearAxis = d3.svg.axis()
                          .scale(linearScale)
                          .orient("left")
                          .ticks(5);

            //Power Axis
            var powAxis = d3.svg.axis()
                          .scale(powScale)
                          .orient("left");


            // Time Axis
            var timeAxis = d3.svg.axis()
                            .scale(timeScale)
                            .orient("left");

            // Build the overall SVG container
            var svg = d3.select("#chartContainer")
                        .append("svg")
                        .attr("width", width)
                        .attr("height", height);

            // Adding the Axes
            svg.append("g")
               .attr("class", "axis")
               .attr("transform", "translate(50,5)")
               .call(linearAxis);

            svg.append("g")
               .attr("class", "axis")
               .attr("transform", "translate(150,5)")
               .call(powAxis);

            svg.append("g")
               .attr("class", "axis")
               .attr("transform", "translate(250,5)")
               .call(timeAxis);
        })();
    </script>
}
